.centeringContainer {
  display: flex;
  width: 100vw;
  justify-content: center;
  background-color: white;
  border-radius: 32px;
  transform: translateY(-61px);
}

.mainContainer {
  width: 1062px;
  padding-top: 51px;
  padding-bottom: 110px;
  display: flex;
  flex-direction: column;
  gap: 45px;
  justify-content: space-between;
}
